@media (min-width: 500px) {
  body {
    background-color: lightgreen;
  }
}
@media (max-width: 500px) {
  body {
    background-color: lightblue;
  }
  nav {
    font-size: 20px;
  }
}

@media print {
  .screen-only {
    display: none;
  }
}
nav {
  background-color: lightblue;
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 60px;
  color: white;

}
section {
  align-items: center;
}
table {
  border: 2px solid lightgray;
  border-collapse: collapse;
  font-family: arial, sans-serif;
}
th {
  background-color: lightgray;
  color:white;
  border: 1px;
  font-size: 25px;
  border: 1px solid lightgray;
  padding: 3px;

}
td {
  border: 1px solid lightgray;
  padding: 3px;

}
img {
  width: 20%;
}

button  {
  color: white;
  background-color: darkgreen;
  font-family: arial, sans-serif;
}
